html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
   background:radial-gradient(#FFF,#BBB);
}

.container {
    font-size: 3em;
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 90%;
}

.logo {
  width: 36px;
}

.logo:hover {
  opacity: 0.8;
}

.bart {
  position: absolute;
  background: url('img/bart_screw_white.svg');
  background-position: 0% 0%;
  bottom: 0px;
  right: 50px;
  height: 255px;
  width: 185px;
	-moz-transition:right .3s ease;
	-webkit-transition:right .3s ease;
	transition:right .3s ease;
}