html,body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

body {
	font-family: 'PT Sans', Arial, sans-serif;
	/*background:url('img/bart.png');*/
	background-repeat: no-repeat;
	background-position: bottom right;
	overflow: hidden;
}

.container {
	padding:10px 40px;
	width:300px;
	background: #fff;
}

.container .h1 {
	font-size:50px;
}

.container .p {
	font-size:22px;
	line-height: 1.5;
}

.stoner {
    position: absolute;
    background: url('img/stoner.png');
    bottom: 0px;
    right: 50px;
    height: 264px;
    width: 179px;
    background-position: 0% 0%;
}

/*.stoner:hover {
	background-position: 98.5% 0%;
}*/
