<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">


      {% assign github = site.data.github-status %}
      {% if github %}
      <div class="footer-col footer-col-1" style="font-size: 0.75rem; margin-top: 12px;">
        <div style="display: flex; flex-direction: row; align-items: center; gap: 12px;">
          <a href="{{github.pusher.html_url}}">
            <img style="border-radius: 50%;" src="{{github.pusher.avatar_url}}" width="40" />
          </a>
          <div>
            {% if github.status == "built" %}
            <div>Latest built by <a href="{{ github.pusher.html_url }}">{{ github.pusher.login }}</a></div>
            {% endif %}
              <div>Created at: {{ github.created_at | date: "%Y-%m-%d %H:%M:%S" }}</div>
            </div>
        </div>
      </div>
      {% endif %}

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>



    </div>

  </div>

</footer>
