<!DOCTYPE html>
<html data-theme="dark" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
   {%- include header.html -%}
   <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <!-- <button id="theme-toggle" onclick="modeSwitcher()"></button> -->
    <script>
      const theme = localStorage.getItem('theme');
	  const userPrefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
	  const userPrefersLight = window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches;
	  const mediaTheme = userPrefersDark ? 'dark' : 'light';

      if (theme === mediaTheme) {
    		document.documentElement.setAttribute('data-theme',theme);
      } else if(theme !== mediaTheme) {
			document.documentElement.setAttribute('data-theme', mediaTheme);
			window.localStorage.setItem('theme', mediaTheme);
      }

      // function modeSwitcher() {
      //   let currentMode = document.documentElement.getAttribute('data-theme');
      //   if (currentMode === "dark") {
      //     document.documentElement.setAttribute('data-theme', 'light');
      //     window.localStorage.setItem('theme', 'light');
      //     //document.getElementById("theme-toggle").innerHTML = "Dark Mode";
      //   } else {
      //     document.documentElement.setAttribute('data-theme', 'dark');
      //     window.localStorage.setItem('theme', 'dark');
      //     //document.getElementById("theme-toggle").innerHTML = "Light Mode";
      //   }
      // }
    </script>
  </body>

</html>
