<!DOCTYPE html>
<html data-theme="dark" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
   <button class="switcher" id="theme-toggle" onclick="modeSwitcher()"></button>
   {%- include header.html -%}
   <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <script>
	const icon = {
		'light': "☀️",
		'dark': "🌒"
	}
	const theme = localStorage.getItem('theme');
	const userPrefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
	const userPrefersLight = window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches;
	const mediaTheme = userPrefersDark ? 'dark' : 'light';

	if (theme) {
		document.getElementById("theme-toggle").innerHTML = theme === 'light' ? icon['dark'] : icon['light'];
	} else {
		document.getElementById("theme-toggle").innerHTML = userPrefersDark ? icon['light'] : icon['dark'];
	}

	if (theme) {
		document.documentElement.setAttribute('data-theme',theme);
	} else {
		document.documentElement.setAttribute('data-theme', mediaTheme);
	}

	function modeSwitcher() {
		const currentMode = document.documentElement.getAttribute('data-theme');
		const icon = currentMode === "dark" ? "🌒" : "☀️";
		if (currentMode === "dark") {
			document.documentElement.setAttribute('data-theme', 'light');
			window.localStorage.setItem('theme', 'light');
			document.getElementById("theme-toggle").innerHTML = icon;
		} else {
			document.documentElement.setAttribute('data-theme', 'dark');
			window.localStorage.setItem('theme', 'dark');
			document.getElementById("theme-toggle").innerHTML = icon;
		}
	}
    </script>
  </body>

</html>
