.animate {
    transition: opacity 1s ease, transform 1.2s ease;
    opacity: 0;
    transform: translateY(70px) rotate(-1deg);
}

.active {
    .animate {
        opacity: 1;
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes highlight {
  0% { background: #d85353; }
  50% {  }
  50% { }
  100% { background: transparent; }
}

.highlight {
    animation: highlight 1s ease;
}
