*,
html {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i&subset=latin-ext');

body {
 
  font-family: 'Merriweather', serif;
  background-repeat: no-repeat;

  font-size: 18px;
  line-height: 1.5;
  color: #4a4a4a;
  background:black;
  margin:0;
}

p {
   font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 900;
}

.underline {
  text-decoration: line-through;
}

.italic {
  font-style: italic;
}

.wrapper {
  width: 100%;
  height: 100%;

}

.link {
  text-decoration: underline;
  cursor: pointer;
}
.section {
  height: 100vh;
}

.hidden {
  visibility: hidden;
}
.hide {
  display: none;
}
